@font-face {
	font-family: 'Raleway';
	font-style: normal;
	src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url(raleway.woff) format('woff');
}
body {
	margin-top:20px;
	font-family: 'Raleway', sans-serif;
	text-align:center;
	font-size:22px;
	color:#888888;
	margin:30px;
}
.disabled{
	opacity:0.25;
}
.page {
	display:none;
}
.page > div {
	margin:20px 0 20px 0;
}
.bar {
	height:22px;
	width:100%;
	border:1px solid #888888;
}
.bar .filler {
	height:100%;
	background:#888888;
	width:0%;
}
#success input {
	font-size:24px;
	padding:5px;
	text-align:center;
	border:1px solid #888888;
	color:#888888;
	width:100%;
}

#login form {
	width:100%;
	text-align:right;
}

#login input {
	width:60%;
	right:0;
	font-size:16px;
	padding:5px;
	margin:5px;
	text-align:left;
	border:1px solid #888888;
	color:#888888;
}

#login input[type=submit] {
	width:inherit;
}
